* {
	margin: 0;
	padding: 0;
}
body {
	font-size: 14px;
    color: #333;
    font-family: "Hiragino Sans GB","Microsoft Yahei UI","Microsoft Yahei","微软雅黑",'Segoe UI',Tahoma,"宋体b8b\4f53",SimSun,sans-serif;
    background: url('../img/header-bg.png')no-repeat fixed;
}
ul,li,a,dl,dt,dd {
	list-style: none;
	text-decoration: none;
}
.header {
	position: relative;
	width: 100%;
	height: 372px;
	font-size: 14px;
	background: url('../img/header-bg.png')no-repeat;
	background-attachment: fixed;
}
.img {
	width: 339px;
    height: 66px;
    position: absolute;
    top: 105px;
    left: 50%;
    margin-left: -170px;
	background: url('../img/logo.png')no-repeat;
}
.img1 {
	width: 222px;
    height: 35px;
    display: inline-block;
    position: absolute;
    top: 188px;
    left: 50%;
    margin-left: -111px;
    background: url(../img/logo1.png) no-repeat;
}
.bjz {
	position: absolute;
    left: 50%;
    bottom: 82px;
    margin-left: -70px;
    width: 140px;
    height: 49px;
    line-height: 49px;
    padding-left: 38px;
    background: url(../img/location-logo.png) no-repeat 15px center;

    color: white;
    font-size: 16px;
    display: inline-block;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    border: 2px solid #fff;
    box-sizing: border-box;
    font-weight: 700;
}



.main {
	width: 100%;
	background: #f1f1f1;
}
.main_container {
	overflow: hidden;
	margin: 0 auto;
    width: 1152px;
}
.title {
	overflow: hidden;
	
	padding: 46px 0 10px 0;
    position: relative;
}
.title h2 {
	float: left;
	font-weight: bold;
    font-size: 22px;
}
.city {
	float: right;
	padding-top: 11px;
}
.city li {
	float: left;
	font-size: 16px;
}
.city li a {
	margin: 12px;
	color: #333;
	font-size: 16px;
}
.city li a:last-child {
	margin-right: 3px;
}
.footer-bottom {
	overflow: hidden;
	padding-bottom: 64px;
}
.city_list {
	width: 1172px;
	margin: 0 -10px;
}

.city_list li {
	float: left;
    position: relative;
    overflow: hidden;
    width: 270px;
    height: 270px;
	margin: 10px;
    text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    -webkit-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    -moz-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    -o-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    -ms-text-shadow: 0 1px 1px rgba(0,0,0,0.4);
    box-shadow: 0 0 4px #bababa;
    border-radius: 2px;
}
.city_list li h3 {
    position: absolute;
    left: 20px;
    bottom: 10px;
    font-size: 30px;
    color: #ffffff;
    -moz-transition: opacity .5s;
    -webkit-transition: opacity .5s;
    -o-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
}

.city_list li a img {
	width: 270px;
	height: 270px;
	-moz-transition: all 1.2s;
    -webkit-transition: all 1.2s;
    -o-transition: all 1.2s;
    -ms-transition: all 1.2s;
    transition: all 1.2s;
}
.city_list li a img:hover {
	transform: scale(1.2);
}




.footer {
	width: 100%;
    height: 426px;
    background: url(../img/footer-bg.jpg) no-repeat;
}
.footer_container {
    overflow: hidden;
	width: 1150px;
	margin: 0 auto;
}
.f_title {
	height: 75px;
    border-bottom: 1px solid #393939;
    line-height: 75px;
}
.f_left{
    width: 870px;
	float: left;
}
.f_left li {
	float: left;
}
.f_left li a {
	color: #fff;
    margin-right: 15px;
    font-size: 14px;
}
.f_right {
	display: block;
	float: right;
	color: #7dcfa0;
}
.f_title2 {
    overflow: hidden;
    padding: 13px 0 20px 0;
    border-bottom: 1px solid #393939;
    background: none;
}
.f_title2 dl {
    float: left;
    overflow: hidden;
    
}
.f_title2 dl dt {
    display: inline-block;
    overflow: hidden;
}
.f_title2 dl dd {
    height: 89px;
    overflow: hidden;
    display: none;
}
.f_title2 dl dd a {
    color: #999;
    font-size: 12px;
    display: inline-block;
    margin: 10px 10px 0 0;

}
.f_title2 .f_left dl {
    /*position: relative;*/
}
.f_title2 .f_left dl {
    /*display: inline-block;*/
}
.f_title2 .f_left dl dd {
    overflow: hidden;
    /*position: absolute;
    top: 10px;*/
}
.f_title2 dt a {
    padding: 8px 10px;
    background: #121212;
    color: #999;
    float: left;
    margin-right: 12px;
    cursor: pointer;
    font-size: 12px;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}
.f_title2 dt a:hover {
    background: #3d3d3d;
    color: #fff;
}
.f_right img {
    border: 5px solid #fff;
    border-radius: 2px;
    width: 129px;
    height: 129px;
}
.footer-bottom {
    padding-top: 23px;
}
.copyright {
    color: #999;
    font-size: 12px;
    line-height: 20px;
}
.hot {
    position: relative;
    height: 45px;
    z-index: 333;
}
.hot label {
    border: 1px solid #999;
    width: 77px;
    height: 27px;
    display: block;
    text-align: center;
    line-height: 27px;
    color: #999;
    font-size: 12px;
    float: right;
}
.hot label i {
    background: url(../img/Sprite_Graphic.png) -354px -91px;
    width: 9px;
    height: 6px;
    display: inline-block;
    margin-left: 5px;
}
.footer-bottom .hot .pages {
    /*display: none;*/
    display: block;
    position: absolute;
    right: 0;
    width: 505px;
    padding: 20px;
    background: #ffffff;
    border-radius: 2px;
    top: 45px;
    z-index: 9999;
}
.pages i {
    background: url(../img/Sprite_Graphic.png) -101px -57px;
    width: 20px;
    height: 10px;
    display: block;
    position: absolute;
    right: 28px;
    top: -9px;
}
.tabs span {
    color: #333;
    font-size: 12px;
    margin-right: 4px;
    background: #f5f5f5;
    display: inline-block;
    width: 19px;
    height: 19px;
    text-align: center;
    cursor: pointer;
}